---
/* TODO:
 * Add date parse
 * Compare parsed date to current date and apply NEW tag as needed
 */

import type { Character } from "types/game-data";
import Rarity from "../ui/Rarity.astro";import gradients from "styles/dynamic/element-gradients";
;

export interface Props extends Character {}

const { name, element, path, rarity } = Astro.props;

// leave only letters, numbers, and dashes
let href = name.replaceAll(" ", "_");

const charUrl = `url(/img/characters/portraits/${href.replaceAll("(", "\\(").replaceAll(")", "\\)")}.png)`;


---

<li
  class=`rounded-lg w-full bg-gradient ${gradients[element]}`
>
  <a href=`/data/characters/${href}` class="char">
    <div class="mx-2 -mt-8">
      <Rarity rarity={rarity} />
      <h3 class="text-lg">
        {name.split("(")[0]}
      </h3>
      <div class="flex text-xs subtitle mb-auto gap-1 pb-1">
        <img
          src=`/img/elements/${element}.png`
          width="16"
          height="16"
          alt={element}
        />
        {path}
      </div>
    </div>
  </a>
</li>
<style define:vars={{ charUrl }}>
  .char::before {
    content: "";
    background-image: var(--charUrl);
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    padding-top: 140%
  }
</style>
