---
/* TODO:
 * Add date parse
 * Compare parsed date to current date and apply NEW tag as needed
 */

import type MDPost from "../../types/MDPost";

export interface Props extends MDPost {}

const { frontmatter, url } = Astro.props;
const { title, description, hero, pubDate, tags } = frontmatter;
---

<li
  class="rounded-lg overflow-hidden bg-bg-dark min-w-[min(320px,75vw)] h-[400px] snap-center"
>
  <a href={url} class="grid grid-rows-[auto_auto_auto_1fr_auto] h-full">
    <img
      src=`/img/guides/${hero}`
      class="w-full h-[200px] object-cover"
      height={200}
      alt=""
    />
    <ul class="flex gap-2 mt-4 mb-1 mx-4">
      <li class="card-tag-chip text-sm tag new">NEW</li>
      {
        tags.map((tag) => (
          <li
            class={`card-tag-chip text-sm tag ${tag
              .toString()
              .toLocaleLowerCase()}`}
          >
            {tag.toString().toLocaleUpperCase()}
          </li>
        ))
      }
    </ul>
    <h3 class="text-2xl mx-4">
      {title}
    </h3>
    <p class="text-sm text-neutral-300 mb-auto mx-4">
      {description}
    </p>
    <time class="text-sm text-neutral-300 mx-4 mt-2 mb-2">{pubDate}</time>
  </a>
</li>
