---
/** TODO
 * branch drawing script no longer works
 * make a cleanup pass
 */

/** BREAKPOINTS:
 * MD: Collapse char img inline (info) or hidden (other 3), expand info and tablist to full width
 * XL: Collapse tablist to top of page
 */

import ParsedParams from "components/ParsedParams.astro";
import CharInfo from "components/data/characters/CharInfo.astro";
import CharTrace from "components/data/characters/CharTrace.astro";
import CharTabbedPage from "components/data/characters/CharTabbedPage";
import Layout from "layouts/Data.astro";
import type { Character } from "types/game-data";
import splitTextIntoBlocks from "util/splitTextIntoBlocks";

export async function getStaticPaths() {
  const chars = (await Astro.glob(
    "/src/data/characters/*.json"
  )) as Character[];

  return chars.map((ch) => ({
    params: { name: ch.name.replaceAll(" ", "_") },
  }));
}

const { name } = Astro.params;
const chars = (await Astro.glob(`/src/data/characters/*.json`)) as Character[];
const char = chars.find(
  (c) => c.name.replaceAll(" ", "_") === name
) as Character;

const {
  name: charName,
  element,
  path,
  rarity,
  description,
  skills,
  eidolons,
  skillTree,
} = char;

const cardClass = "rounded-lg p-4 max-w-full md:max-w-sm relative pb-16";
const bgClass = `card-bg-1 bg-opacity-90 max-w-full relative`;

const breadcrumbs = ["Data Bank", "Characters", charName];
---

<Layout title={name ?? "Characters"} description="" breadcrumbs={breadcrumbs}>
  <main class="flex items-center flex-col">
    <article class=`card-bg p-4 md:p-8 max-w-4xl relative min-h-[700px]`>
      <CharTabbedPage {char} client:only="preact">
        <section
          slot="info"
          class=`card-bg-1 bg-opacity-90 max-w-full md:max-w-sm relative`
        >
          <CharInfo h1 {...char} />
          <div class="subtitle text-xs font-bold">Introduction</div>
          <div class="mt-1 space-y-1">
            {
              description &&
                splitTextIntoBlocks(description).map((p) => <p>{p}</p>)
            }
          </div>
        </section>
        <section slot="skills" class={cardClass}>
          <CharInfo {...char} />
        </section>
        <section slot="skills" class={bgClass}></section>
        <section slot="eidolons" class={cardClass}>
          <CharInfo {...char} />
        </section>
        <section slot="eidolons" class={bgClass}>
          <ol class="flex flex-col gap-2">
            {
              eidolons.map((e, i) => (
                <li class="flex gap-2 md:gap-4 items-start">
                  <img
                    src={`/img/characters/eidolons/${name}/${i + 1}.png`}
                    width="120"
                    height="120"
                    class="scale-75 md:scale-100"
                    alt=""
                  />
                  <div>
                    <h2 class="subsubheader">
                      E{i + 1}
                      {e.name}
                    </h2>
                    <div>
                      <ParsedParams data={e.desc} params={e.params} />
                    </div>
                  </div>
                </li>
              ))
            }
          </ol>
        </section>
        <section slot="traces" class={cardClass}>
          <CharInfo {...char} />
        </section>
        <section slot="traces" class={bgClass}>
          <ol id="skill-tree" class="flex flex-col gap-4">
            {
              skillTree
                .sort(
                  (a, b) =>
                    (a.minAsc ?? 0) - (b.minAsc ?? 0) ||
                    (a.minLevel ?? 0) - (b.minLevel ?? 0)
                )
                .map((trace) => <CharTrace {...trace} depth={0} />)
            }
          </ol>
        </section>
      </CharTabbedPage>
    </article>
  </main>
</Layout>
